---
- name: Restic install packages
  apt:
    name: "{{ backup__restic_default_packages }}"
    update_cache: yes
    state: present
  when:
    - backup__install

- name: Create ssh_config file
  template:
    src: ssh_config
    dest: "/root/.ssh/config"
    mode: 0644
    owner: root
    group: root
  when:
    - backup__install
    - backup__configure

- name: Create restic password file
  template:
    src: restic_repo_password
    dest: "/root/.restic_repo_password"
    mode: 0600
    owner: root
    group: root
  when:
    - backup__install
    - backup__configure

- name: Check ssh key on host
  stat:
    path: "{{ backup__ssh_id }}"
  register: ssh_key_file
  check_mode: yes
  when:
    - backup__install
    - backup__configure
    - backup__ssh_id is defined

- name: Generate SSH keypair
  shell:
    cmd: "ssh-keygen -t {{ backup__ssh_id_type }} -f {{ backup__ssh_id }} -P ''"
  register: ssh_key_created
  when:
    - not ssh_key_file.stat.exists
    - backup__install
    - backup__configure
    - backup__ssh_id is defined

- name: Copy ssh id file into local file
  fetch:
    src: "{{ backup__ssh_id }}.pub"
    dest: "~/.ssh/"
    flat: true
  when:
    - backup__install
    - backup__configure
    - backup__ssh_id is defined
    - ssh_key_created is changed

- name: Install ssh id  into storage box
  delegate_to: localhost
  become: no
  shell:
    cmd: "cat ~/.ssh/{{ backup__ssh_id_name }}.pub | ssh -p23 {{ backup__restic_user }}@{{ backup__restic_host }} install-ssh-key"
  when:
    - backup__install
    - backup__configure
    - backup__ssh_id is defined
    - ssh_key_created is changed

- name: Add host key to known hosts
  shell:
    cmd: "ssh-keyscan -p {{ backup__restic_port }} -t {{ backup__ssh_id_type }} -H {{ backup__restic_host }} >> /root/.ssh/known_hosts"
  when:
    - backup__install
    - backup__configure
    - backup__ssh_id is defined
    - ssh_key_created is changed
